<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-lazy-init="true">

	<description>Spring公共配置</description>
	<!-- 系统配置 -->
	<bean id="SystemConfig" class="com.winit.cloudlink.console.bean.SystemConfig">
		<property name="mailResendCron" value="${mail.resend.cron}"/>
		<property name="queueSencondCheckTnterval" value="${queue.second.check.interval}" />
	</bean>
	<!-- 引入数据库配置 -->
	<import resource="cassandra.xml" />

	<!-- 引入邮件配置 -->
	<import resource="mail.xml" />

	<!-- 任务调度 -->
	<import resource="quartz-task.xml" />

	<!-- 通过工厂bean加载所有属性文件 -->
	<bean id="propertiesSource"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/application.properties</value>
				<value>classpath:/environment.properties</value>
				<value>classpath:/password.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="propertiesSource"></property>
	</bean>

</beans>